<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

	<profiles>
		<profile>
			<id>Minu</id>
			
			<repositories>
				<repository>
					<id>sample-group</id>
					<url>http://localhost:8081/nexus/content/groups/sample-group</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>

			<pluginRepositories>
				<pluginRepository>
					<id>sample-group</id>
					<url>http://localhost:8081/nexus/content/groups/sample-group</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>

		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>Minu</activeProfile>
	</activeProfiles>
</settings>